// Primitive colours
	// white and black
	$white: #eeeeee;
	$white-secondary: #d2d2d2;
	$grey: #6e6e6e;
	$black: #1e1e1e;

	// Colours
	$red:    #f52929;
	$orange: #ff6b00;
	$yellow: #fcb500;
	$green:  #9ce500;
	$jade:   #00b072;
	$aqua:   #0abcf2;
	$blue:   #1e6bff;
	$purple: #743ee6;
	$pink:   #ff2566;