// Importing global stylesheets
@import 'layout';
@import 'colours';
@import 'typography';
@import 'utils';

// Importing page stylesheets
@import '../pages/Base';
@import '../pages/Home';
@import '../pages/ModeBase';
@import '../pages/Error';
// Importing mode page stylesheets
@import '../pages/modes/Demos';
@import '../pages/modes/IndividualLetter';
@import '../pages/modes/Sentences';
@import '../pages/modes/WordSnake';
@import '../pages/modes/Tessellation';
@import '../pages/modes/Departures';
@import '../pages/modes/Perfume';
@import '../pages/modes/PerfumeDemo';
@import '../pages/modes/PerfumeTv';
@import '../pages/modes/Temp';
@import '../pages/modes/DeparturesLogic';
@import '../pages/modes/PerfumeLogic';
@import '../pages/About';

// Importing component stylesheets
@import '../components/Radio';
@import '../components/Pagination';
@import '../components/Button';
@import '../components/Input';
@import '../components/Icons';
@import '../components/Loading';

body {
	margin: 0;
	padding: 0;
	background-color: $white;
}

* {
	box-sizing: border-box;
}

.LetterGrid {
	overflow: visible;
	aspect-ratio: 1 / 2;
	shape-rendering: geometricPrecision;

	* {
		fill: none;
		stroke: #000;
		stroke-width: 21;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: 101;
		stroke-dashoffset: 101;
	}
}

.mode-cont {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border: 4px solid $black;
	border-radius: 10px;
	background: white;
}

.options-cont {
	margin: auto;
	max-height: 100%;
	overflow-y: auto;

	.Button.Major {
		margin-top: 01 * $unit;
	}
}