// Importing global stylesheets
@import 'utils';

// Importing page stylesheets
@import '../pages/Home';

body {
	margin: 0;
	padding: 0;
}

.LetterGrid {
	overflow: visible;
	transform: scaleX(1.06);//TEMP

	* {
		fill: none;
		stroke: #000;
		stroke-width: 20;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: 101;
	}
}