.Base {
	transition: background 0.3s ease;

	&.style--demos {
		background: #b9e8f4;
	}

	&.style--individual-letter {
		background: #f4b9b9;
	}

	&.style--tessellation {
		background: #dcffb5;
	}

	&.style--word-snake {
		background: #f0e9b0;
	}

	&.style--sentences {
		background: #cfcdf5;
	}


	&.style--departures-board {
		background: #ddcece;
	}

	&.style--perfume-digital-ad {
		background: #ffc7ef;
	}

	&.style--perfume-tv-ad {
		background: #ffd39d;
	}


	
	&.style--about {
		background: #fff;
	}
}