.Home {
	width: 100vw;
	height: 100vh;

	.FontName {
		width: 16rem;
		margin: 0.4rem 0 0.6rem;
		
		overflow: visible;
		fill: none;
		stroke: $black;
		stroke-width: 29;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: 101;
		stroke-dashoffset: 101;
		transition: stroke-dashoffset 0.75s ease;
	}

	.pages-cont {
		.link {
			margin-left: 1.5 * $unit;

			p {
				transition: font-weight 0.3s ease;
			}

			&:hover p {
				font-weight: 550;
			}
		}
	}

	.panel--artwork {
		.Artwork {
			height: 100%;
			// overflow: visible;
			shape-rendering: geometricPrecision;
			outline: 0.5vh solid $black;
			border-radius: 1.3vh;

			* {
				fill: none;
				stroke: $black;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 101;
				stroke-dashoffset: 0;
				transition: stroke-dashoffset 0.75s ease;
			}

			&.style--individual-letter {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				.ArcSeB,
				.ArcSeT,
				.ArcSwB,
				.ArcSwT,
				.ArcNeB,
				.ArcNeT,
				.ArcNwB,
				.ArcNwT,
				// .DiagSwE,
				// .DiagSwN,
				// .DiagNwE,
				// .DiagNwS,
				// .DiagNeW,
				// .DiagNeS,
				// .DiagSeW,
				// .DiagSeN,
				.HorizontalB,
				.HorizontalC,
				.HorizontalT,
				.VerticalL,
				.VerticalC,
				.VerticalR 
				{
					stroke-dashoffset: 101;
				}
			}
			&.style--tessellation {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				.ArcSeB,
				.ArcSeT,
				.ArcSwB,
				.ArcSwT,
				.ArcNeB,
				.ArcNeT,
				.ArcNwB,
				.ArcNwT,
				.DiagSwE,
				// .DiagSwN,
				.DiagNwE,
				// .DiagNwS,
				.DiagNeW,
				// .DiagNeS,
				.DiagSeW,
				// .DiagSeN,
				.HorizontalB,
				// .HorizontalC,
				.HorizontalT,
				.VerticalL,
				.VerticalC,
				.VerticalR 
				{
					stroke-dashoffset: 101;
				}
			}
			&.style--word-snake {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				// .ArcSeB,
				// .ArcSeT,
				// .ArcSwB,
				// .ArcSwT,
				// .ArcNeB,
				// .ArcNeT,
				// .ArcNwB,
				// .ArcNwT,
				.DiagSwE,
				.DiagSwN,
				.DiagNwE,
				.DiagNwS,
				.DiagNeW,
				.DiagNeS,
				.DiagSeW,
				.DiagSeN,
				.HorizontalB,
				.HorizontalC,
				.HorizontalT,
				.VerticalL,
				.VerticalC,
				.VerticalR 
				{
					stroke-dashoffset: 101;
				}
			}
			&.style--sentences {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				.ArcSeB,
				.ArcSeT,
				.ArcSwB,
				.ArcSwT,
				.ArcNeB,
				.ArcNeT,
				.ArcNwB,
				.ArcNwT,
				.DiagSwE,
				.DiagSwN,
				.DiagNwE,
				.DiagNwS,
				.DiagNeW,
				.DiagNeS,
				.DiagSeW,
				.DiagSeN,
				// .HorizontalB,
				// .HorizontalC,
				// .HorizontalT,
				.VerticalL,
				// .VerticalC,
				.VerticalR 
				{
					stroke-dashoffset: 101;
				}
			}

			&.style--departures-board {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				.ArcSeB,
				.ArcSeT,
				.ArcSwB,
				.ArcSwT,
				.ArcNeB,
				.ArcNeT,
				.ArcNwB,
				.ArcNwT,
				// .DiagSwE,
				.DiagSwN,
				// .DiagNwE,
				.DiagNwS,
				// .DiagNeW,
				.DiagNeS,
				// .DiagSeW,
				.DiagSeN,
				.HorizontalB,
				.HorizontalC,
				.HorizontalT,
				.VerticalL,
				.VerticalC,
				.VerticalR
				{
					stroke-dashoffset: 101;
				}
			}
			&.style--perfume-digital-ad {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				.ArcSeB,
				// .ArcSeT,
				.ArcSwB,
				// .ArcSwT,
				// .ArcNeB,
				.ArcNeT,
				// .ArcNwB,
				.ArcNwT,
				.DiagSwE,
				.DiagSwN,
				.DiagNwE,
				.DiagNwS,
				.DiagNeW,
				.DiagNeS,
				.DiagSeW,
				.DiagSeN,
				.HorizontalB,
				.HorizontalC,
				.HorizontalT,
				// .VerticalL,
				.VerticalC
				// .VerticalR
				{
					stroke-dashoffset: 101;
				}
			}
			&.style--perfume-tv-ad {
				.CircleSe,
				.CircleSw,
				.CircleNe,
				.CircleNw,
				// .ArcSeB,
				.ArcSeT,
				// .ArcSwB,
				.ArcSwT,
				.ArcNeB,
				// .ArcNeT,
				.ArcNwB,
				// .ArcNwT,
				.DiagSwE,
				.DiagSwN,
				.DiagNwE,
				.DiagNwS,
				.DiagNeW,
				.DiagNeS,
				.DiagSeW,
				.DiagSeN,
				// .HorizontalB,
				.HorizontalC,
				// .HorizontalT,
				.VerticalL,
				.VerticalC,
				.VerticalR
				{
					stroke-dashoffset: 101;
				}
			}
		}
	}
}