.ModeBase {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;

	.ModeBase-back {
		position: absolute;
		margin: auto 0.2rem;
		left: 0;
		display: flex;
		justify-content: start;
		align-items: center;
		color: white;
		font-size: 1.5rem;

		.Icon {
			width: 1.8rem;
			height: 1.8rem;
		}
	}
}