.ModeBase {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	overflow: hidden;
	transition: padding 0.28s 0.03s ease;

	&.activated {
		padding-bottom: 3.6rem;
	}

	.ModeBase__actions-activator {
		position: absolute;
		bottom: 0;
		transition: bottom 0.3s ease;
		min-width: 8rem;

		.Icon {
			width: 2rem;
			height: 2rem;
		}

		&.activated {
			bottom: -2rem;
		}
	}

	.ModeBase__actions {
		position: absolute;
		bottom: -2rem;
		// padding: 0.5rem;
		align-items: center;
		justify-content: center;
		// background: #fff;
		z-index: 1000;
		// border: 4px solid $black;
		// border-radius: 100px;
		transition: bottom 0.3s ease;
		min-width: 8rem;
		
		&.activated {
			bottom: 0.8rem;
		}

		a {
			display: block;
			height: fit-content;
		}
		
		.Icon {
			display: block;
			width: 2rem;
			height: 2rem;
			transition: transform 0.3s ease;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}