.ModeBase {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	overflow: hidden;
	transition: padding 0.28s 0.03s ease;

	&.demos {
		padding-top: 3.6rem;
		padding-bottom: 3.6rem;
	}

	&.activated {
		padding-left: 3.6rem;
	}

	.ModeBase__actions-activator {
		position: absolute;
		left: 0;
		transition: left 0.3s ease;
		min-height: 8rem;

		.Icon {
			width: 2rem;
			height: 2rem;
			transform: rotate(90deg);
		}

		&.activated {
			left: -2rem;
		}
	}

	.ModeBase__actions {
		position: absolute;
		left: -2rem;
		// padding: 0.5rem;
		align-items: center;
		justify-content: center;
		// background: #fff;
		z-index: 1000;
		// border: 4px solid $black;
		// border-radius: 100px;
		transition: left 0.3s ease;
		min-height: 8rem;
		
		&.activated {
			left: 0.8rem;
		}

		a {
			display: block;
			height: fit-content;
		}
		
		.Icon {
			display: block;
			width: 2rem;
			height: 2rem;
			transition: transform 0.3s ease;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
}