.IndividualLetter {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	.options-cont {
		> p {
			margin-top: -1.5rem;
			margin-bottom: 0.5rem;
		}
	}

	.letter {
		position: absolute;
		height: 80%;
	
		.LetterGrid {
			height: 100%;
			display: block;
		}
	}
}