.IndividualLetter {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.letter {
		position: absolute;
		height: 80%;
	
		.LetterGrid {
			height: 100%;
			display: block;
		}
	}
}