.WordSnake {
	position: relative;
	

	.letters-cont,
	.duplicate-letters-cont {
		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.letter-cont {
			padding: 0 2.5rem;
			width: 100%;

			.LetterGrid {
				width: 100%;
			}
		}
	}

	.duplicate-letters-cont {
		left: 100%;
	}
}