.WordSnake {
	position: relative;

	.letters-cont,
	.duplicate-letters-cont {
		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.letter-cont {
			// padding: 0 1rem;
			width: 100%;

			&.pad--small {
				padding: 0 2.5%;
			}

			&.pad--large {
				padding: 0 5%;
			}

			.LetterGrid {
				width: 100%;
			}
		}
	}

	.duplicate-letters-cont {
		left: 100%;
	}

	.options-cont {
		.wordInputError {
			// margin-top: 1 * $unit;
		}
	}
}